@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
}

.contenedor{
 width: 100%;
 
    
    
    display: grid;
    grid-template-columns:  repeat(4, 1fr);
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "caja1  caja1   caja4   caja3"
    "caja1  caja1   caja2   caja5";
    
    position: relative;
  
    
}

.caja {
    border: solid red 1px;
    justify-content: center;
    
    
}

.caja1{
    grid-area: caja1;
    display: flex;
}

.caja1 img{
    height: 100%;
    width: 100%;
}

.caja2{
    grid-area: caja2;
    display: flex;
}

.caja2 img{
    height: 100%;
    width: 100%;
}

.caja3{
    grid-area: caja3;
    display: flex;
}

.caja3 img{
    height: 100%;
    width: 100%;
}

.caja4{
    grid-area: caja4;
    display: flex;
}

.caja4 img{
    height: 100%;
    width: 100%;
}

.caja5{
    grid-area: caja5;
    display: flex;
}
.caja5 img{
    height: 100%;
    width: 100%;
}















footer {
    background-color: blueviolet;
    color: white;
}

.divRedes ul li {
    display: inline;
}

.insta,
.face {
    width: 40px;
    display: inline;
} */